//
// Theme
//

/* [ theme ] */

// ig-carousel TS
.abs-tran-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// progress-bar 
.progress-bar {
	width: 0%;
}